@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&family=Righteous&family=Staatliches&display=swap');

body  {
	font-family: "righteous", sans-serif !important;
}

h1, h2, h3, h4, h5, h6  {
	font-family: "staatliches", sans-serif !important;
	color: black !important;
}

.container {
	text-align: center;
  	position: relative;
  	text-align: center;
  	color: black;
}

.header {
	margin-bottom: 20px;
	opacity: 0.7;
	width: 700px;
	height: 200px;
	object-fit:cover;
}

.centered {
	position: absolute;
	left: 50%;
	bottom: 8px;
	transform: translate(-50%, -50%);
	color: black;
	font-size: 40px;
}

p{
	color: grey !important;
	text-decoration: none !important;
}

.carta {
	width: 600px; 
	height: auto;
	margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

.bottone{
	color: white !important;
	float:right;
}

.nav-link {
	color: black !important;
}