@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&family=Righteous&family=Staatliches&display=swap');

body  {
	font-family: "righteous", sans-serif !important;
	background-color: #1B4D3E !important;
}

h1, h2, h3, h4, h5, h6  {
	font-family: "staatliches", sans-serif !important;
}

#titolo {
	color: white !important;
	margin-top:60px;
	margin-bottom:20px;
}

#rosso{
	color:red;
}